<body class="bg-white-100">
  <div class="bg-purple-200 flex justify-between">
    <img class="w-10 rounded-xl" src="crochet.png" />
    <div class="grid grid-cols-4 content-center text-center">
      <div class="hover:bg-pink-300 rounded-xl">Home</div>
      <div class="hover:bg-pink-300 rounded-xl">About</div>
      <div class="hover:bg-pink-300 rounded-xl w-20">Contant</div>
      <div class="hover:bg-pink-300 rounded-xl">
        <a routerLink="position">login</a>
      </div>
    </div>
  </div>
  <h1 class="text-center font-mono text-2xl mt-5">Ari's crochet</h1>
  <p class="md:text-lg sm:text-2xl text-base/7 text-justify mt-3 indent-8">
    A crochet business mission statement is a concise document outlining the
    purpose and values of your crochet business. To provide direction, a mission
    statement should reflect the business goals, objectives, and core values. A
    well-crafted mission statement can help define the company's beliefs and
    motivations, guide decision-making, and inspire customer loyalty. Crafting a
    mission statement is an essential step in any business' growth journey as it
    helps to define its purpose and set it apart from its competitors.
  </p>
  <div class="columns-3 p-18 mt-0">
    <div>
      <img class="aspect-square ... rounded-xl" src="1.png" />
      Code-C001<br />
      Price-$20
    </div>
    <div>
      <img class="aspect-square ... rounded-xl" src="2.png" />
      <span class="no-underline hover:underline">Code-C001</span><br />
      Price-$20
    </div>

    <div>
      <img class="aspect-square ... rounded-xl" src="3.png" />
      <span class="no-underline hover:underline">Code-C001</span><br />
      Price-$20
    </div>
    <div>
      <img class="aspect-square ... rounded-xl" src="1.png" />
      <span class="no-underline hover:underline">Code-C001</span><br />
      Price-$20
    </div>
    <div>
      <img class="aspect-square ... rounded-xl" src="2.png" />
      <span class="no-underline hover:underline">Code-C001</span><br />
      Price-$20
    </div>
    <div>
      <img class="aspect-square ... rounded-xl" src="3.png" />
      <span class="no-underline hover:underline">Code-C001</span><br />
      Price-$20
    </div>
  </div>
  <div class="text-center w-full text-sm min-h-15 bg-purple-100">
    <p class="p-2">Copyright © 2025 Crochet Princess | Powered by Ari</p>
    <button class="bg-blue-300 w-28 rounded-xl hover:bg-blue-500">
      <b>Privacy Policy</b>
    </button>
  </div>
</body>
<router-outlet />
